*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.hero{
  text-align: center;
  margin-top: 10px;
}
.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
.logo{
}
.cart{
  cursor: pointer;
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border: 1px solid #767272;
  border-radius: 50%;
  background-color: white;
}
.banner{
  position: absolute;
  background-image: url(../img/banner.jpg);
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: center;
  width: 100%;
  height: 520px;

}
.bannerHolder{
  height: 520px;
}
.title{
  text-align: center;
  margin: 180px auto 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  color: #FFFFFF;
}
.addToCart{
  margin-top: 25px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  border: 0;
  background: #0E49B5;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}
.searchBar{
  display: flex;
  width: 100%;
  max-width: 1024px;
  margin: 35px auto;
  height: 60px;
  background: #FFFFFF;
  border: 1px solid #DDDADA;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 0 0 0 20px;
}
.filterSearchButton{
  display: inline;
  cursor: pointer;
  height: 100%;
  width: 24px;
  border: 0;
  background-image: url(../img/searchButton.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;

}
.search{
  cursor: text;
  margin-left: 10px;
  height: 100%;
  border: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  width: 100%;
}
.search:focus { 
  outline: none; 
}
.filterButton{
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 0;
  background-image: url(../img/filterButton.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  margin-right: 12px;
}
.sortButton{
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 0;
  background-image: url(../img/sortButton.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}
.buttonsWrapper{
  display: flex;
  flex-direction: row;
  height: 40px;
  margin: auto 9px auto 4px;
}
.items{
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
  gap: 20px;
}
.card{
  width: 300px;
  height: 480px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.card .addToCart{
  margin: 0 auto;
}
.productImg{
  margin: 0 auto;
  margin-top: 10px;
  height: 200px;
}
.productTitle{
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
.inStock{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #767272;
  margin: 8px;
}
.inStockImg{
  height: 15px;
  width: 15px;
  margin: 0 3px -3px 0;
}
.closeStockImg{
  height: 18px;
  width: 18px;
}
.disabledButton{
  margin: 10px auto 10px auto;
  background: #DDDDDD;
  cursor: default;
}
.stats{
  display: flex;
  width: 300px;
  height: 86px;
  background: #DAE2EA;
  border-radius: 0px 0px 10px 10px;
  margin: 20px 0 0 0;
  padding-top: 20px;
}
.productInfo{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #3B3E66;
  text-align: left;
}
.likeReview{
  width: 20px;
  height: 20px;
  margin-left: 7px;
  display: inline-block;

}
.cardBottom{
  margin-left: 10px;
  display: inline-block;
}
.boldNumbers{
  font-weight: bold;
}