*{
    box-sizing: border-box;
}
body {
    max-width: 1500px;
    width: 100%;
    height: 2000px;
    background: #FFFFFF;
    margin: 0;
}
.header {
    position: relative;
    display: flex;
    background-color: #FFFFFF;
    margin: 0 auto;
    max-width: 1025px;
    width: 100%;
    height: 60px;
    
}
.header__logo {
    position: absolute;
    width: 120px;
    height: 25px;
    top: 25%;
    left: 10px;
}
.header__icon svg {
    position: absolute;

    right: 10px;
    top: 20%;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    max-width: 1025px;
    width: 100%;
    height: 520px;
    margin: 0 auto;
}
.wrapper {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1025px;
    width: 100%;
}
.search {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1025px;
    height: 60px;
    margin: 40px auto;
}
input[type=search] {
    width: 1025px;
    height: 60px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #767272;
    padding: 10px 25px;
    background-color: #ffffff;
    border: 1px solid #DDDADA;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

}
.search__btn,
.search__btn1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    border: 0;
}
.search__btn {
    background: url(icons/Filter.png);
    position: absolute;
    right: 75px;
    top: 10px;
}
.search__btn1 {
    background: url(icons/Sort.png);
    position: absolute;
    right: 25px;
    top: 10px;
}


.wrapper__content {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    max-width: 1024px;
    height: 1000px;
}
.card {
    position: relative;
    display: flex;
    width: 300px;
    height: 480px;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 50px;
}
.card__image {
    width: 200px;
    height: 200px;
    margin-top: 14px;
}
.card__btn {
    position: absolute;
    width: 150px;
    height: 50px;
    bottom: 100px;
    left: 75px;
    background: #0E49B5;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
}
.card__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-align: center;
    position: absolute;
    bottom: 210px;
}
.card__order {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #767272;
    position: absolute;
    text-align: center;
    bottom: 185px;
}
.card__price {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #767272;
    position: absolute;
    text-align: center;
    bottom: 160px;
}
.card__review {
    position: absolute;
    bottom: 0;
    width: 300px;
    height: 86px;
    background: #DAE2EA;
    border-radius: 0px 0px 10px 10px;
}

.aside {
    width: 320px;
    background-color: #FFFFFF;
    margin-right: 60px;
    display: block;
}
.accordion {
    display: block;
    background-color: #EDF3FF;
    width: 320px;
    height: 50px;
    border: 0;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding: 10px 10px 10px 20px;
}
.active, .accordion:hover {
    background-color: #FFFFFF;
}
.panel {
    background-color: #FFFFFF;
    overflow: hidden;
    width: 320px;
    height: 150px;
    display: none;
    padding: 10px 30px;
    flex-direction: column;
    flex-wrap: wrap;
}
input[type=checkbox] {
    width: 15px;
    height: 15px;
    margin: 0;
    margin-right: 10px;
}
.panel label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 10px;
    
}
/* Modal Window */


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
 }
.modal {
    background-color: #FFFFFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 40;
    display: flex;
    max-width: 1025px;  
    width: 100%;
    height: 490px;    
}
.modal__image {
    width: 250px;
    height: 250px;
    position: absolute;
    left: 30px;
    top: 105px;
}
.modal__image img {
    height: 100%;
    width: 100%;
}
.modal h2 {
    position: absolute;
    top: 35px;
    left: 370px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #3B3E66;
    margin: 0;
}
.modal__info {
    position: absolute;
    width: 590px;
    height: 315px;
    top: 85px;
    right: 65px;
}
.modal__review--text {
    margin: 0;
}
.modal__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #767272;
    margin-bottom: 15px;
}
.modal__block {
    position: absolute;
    right: 65px;
    bottom: 60px;
    width: 150px;
    height: 170px;
}
.modal__price {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #3B3E66;
    margin: 0;
    margin-bottom: 25px;
    text-align: center;
}
.modal__order {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #3B3E66;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
}
.modal__btn {
    width: 150px;
    height: 50px;
    background: #0E49B5;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
}
.modal__review {
    width: 300px;
    height: 86px;
    background: #DAE2EA;
    border-radius: 10px;
    margin-bottom: 30px;
}
.modal__bold {
    color: #000000;
}
