header {
  display: inline-block;
  width: 100%;
  text-align: center;
}

p.banner {
  font-family: Roboto;
  font-size: 72px;
  line-height: 84px;
  color: #fff;
  position: absolute;
  bottom: 45%;
  left: calc(50% - 266px / 2);
}

a.button:hover {
  background: #0e49b5;
  color: #ffffff;
  transition: 0.2s;
  box-shadow: 0 0 4px 0 #102243 inset, 0 0 4px 1px #102243;
}
a.button:active {
  box-shadow: 0 0 30px 30px #102243 inset;
  color: #ffffff;
  transition: 0.3s;
}
.container {
  display: inline-block;
  width: 1024px;
  text-align: left;
  padding-top: 10px;
  margin-bottom: 140px;
}
.container .logo img {
  display: inline-block;
  width: 120px;
  height: 25px;
  margin-left: 8px;
  filter: drop-shadow(1px 1px 1px #868686);
}
.logoCart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  filter: drop-shadow(0px 4px 4px #999);
}
a.cart {
  display: inline-block;
}
.slider {
  width: 100%;
  max-width: 1024px;
  background: #fff;
  text-align: center;
  display: inline-block;
  position: relative;
  border: 1px solid #000000;
  filter: drop-shadow(0px 6px 7px rgba(0, 0, 0, 0.75));
  line-height: 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
a.button {
  font-family: Roboto;
  font-size: 20px;
  line-height: 23px;
  position: absolute;
  bottom: 31%;
  left: calc(50% - 150px / 2);
  padding: 13px 25px;
  border-radius: 5px;
  background: #0e49b5;
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}
a.button:hover {
  background: #0e49b5;
  color: #ffffff;
  transition: 0.2s;
  box-shadow: 0 0 4px 0 #102243 inset, 0 0 4px 1px #102243;
}
a.button:active {
  box-shadow: 0 0 30px 30px #102243 inset;
  color: #ffffff;
  transition: 0.3s;
}
main {
  position: relative;
  display: flex;
}
form {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  position: absolute;
  top: -100px;
}
.search-wrapper {
  display: inline-block;
  width: 1024px;
  height: 60px;
  position: relative;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  vertical-align: middle;
}
.search-box {
  width: 800px;
  height: 90%;
  border: none;
  outline: none;
  -webkit-appearance: none;
  margin-left: 20px;
  font-family: Roboto;
  font-size: 18px;
  color: #585050;
  font-weight: 500;
  text-shadow: 0px 1px 1px #a3a3a3;
  line-height: 21px;
}

.search-wrapper label,
input {
  vertical-align: middle;
  cursor: pointer;
}
.search-wrapper label svg {
  filter: drop-shadow(1px 1px 1px #a3a3a3);
}

.filter-menu:checked + .filter-button svg #Ellipse2 {
  fill: #102243;
}
.filter-menu:checked ~ .filter-button div#drop.dropdown {
  visibility: visible;
}

.sort-menu:checked + .sort-button svg #Ellipse1 {
  fill: #102243;
}
.sort-menu:checked + .sort-button div.order-menu {
  visibility: visible;
}

input[type="checkbox"] {
  display: none;
}
.filter-button,
.sort-button {
  margin-right: 5px;
  filter: drop-shadow(0px 4px 4px #000);
}

.product__wrapper {
  min-height: 500px;
  width: 1024px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.prodCard {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 10px;
  margin: 0 auto;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 480px;
  width: 300px;
  border: 1px solid #e0e0e0;
  filter: drop-shadow(0px 4px 4px #5c5c5c);
  border-radius: 10px;
  gap: 20px;
  margin-bottom: 25px;
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 12px 16px 0 #666666, 0 17px 50px 0 #999999;
  border: 1px solid #cccccc;
  cursor: pointer;
  transition: 0.4s;
}
.product__img {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 7px;
  width: 200px;
  height: 200px;
  border: none;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
.product__img img {
  max-width: 100%;
  max-height: 100%;
}
.product__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: -15px;
}
.stock {
  display: inline-flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #767272;
  margin-bottom: -15px;
}
a.unAvalaib {
  font-family: Roboto;
  font-size: 20px;
  line-height: 23px;
  left: calc(50% - 150px / 2);
  padding: 13px 25px;
  border-radius: 5px;
  background: #dddddd;
  text-decoration: none;
  color: #ffffff;
  cursor: default;
  pointer-events: none;
}
a.unAvalaib:hover {
  background: #dddddd;
}

.space {
  visibility: hidden;
}
.price {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #767272;
  margin-bottom: -10px;
}
.bold {
  display: inline-block;
  font-weight: bold;
}
div.card a.button {
  position: unset;
}

.heart {
  position: absolute;
  right: 18px;
  top: 15px;
  cursor: pointer;
  color: #e06065;
}

div.card-footer {
  width: 100%;
  height: 85px;
  align-items: center;
  color: #3b3e66;
  background: #dae2ea;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #dae2ea;
}
.product-opinion {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.product-opinion svg {
  width: 17px;
  height: 16px;
  margin: -15px 10px 0 15px;
}
.review {
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  flex-grow: 1;
  width: 130px;
  height: 38px;
}
span.orders {
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  width: 45px;
  height: 40px;
  margin-right: 20px;
  text-align: center;
}
/*
*   Dropdown menu
*/
div#drop {
  visibility: hidden;
  position: absolute;
  top: 190%;
  right: 180%;
  box-sizing: border-box;
  border: none;
  padding: 0;
  background: #ccc;
  font-family: Roboto;
  width: 290px;
  height: 110px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  text-align: left;
}
.category {
  margin: 15px 18px;
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  color: #0e49b5;
}
.stock_drop {
  font-size: 12px;
  line-height: 14px;
  color: #0e49b5;
  margin-left: 50px;
  display: inline-block;
}
.wins {
  margin-left: 18px;
  margin-bottom: 10px;
}
select {
  width: 90px;
  height: 27px;
  border: 1px solid #e2e2e2;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  outline-color: transparent;
  -webkit-appearance: none;
  padding-left: 7px;
  font-size: 12px;
  line-height: 14px;
}
option {
  font-size: 12px;
  line-height: 20px;
  border: none;
  background: #dddddd;
  margin-top: 10px;
  padding-top: 20px;
  transition: 3s;
}
.any {
  margin-left: 29px;
}
.results {
  display: inline-block;
  width: 85px;
  height: 19px;
  background: #0e49b5;
  border-radius: 5px;
  border: 1px solid #0e49b5;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  margin-left: 100px;
}

.results:hover {
  background: #0e49b5;
  color: #ffffff;
  transition: 0.2s;
  box-shadow: 0 0 4px 0 #102243 inset, 0 0 4px 1px #102243;
}
.results:active {
  box-shadow: 0 0 30px 30px #102243 inset;
  color: #ffffff;
  transition: 0.3s;
}

.order-menu {
  visibility: hidden;
  position: absolute;
  right: -100%;
  top: 190%;
  width: 162px;
  height: 154px;
  background: #fff;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-family: Roboto;
}
.mainame {
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  color: #0e49b5;
  margin: 12px;
  text-align: left;
}
.sort {
  font-size: 12px;
  line-height: 14px;
  text-align: left;
}

.sort p {
  display: inline-block;
  margin: 0 0 0 24px;
}
.sort img {
  margin-left: 22px;
}
.def_sort {
  text-align: center;
  padding: 10px 50px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  color: #102243;
}
.ascend,
.descend {
  padding: 10px 0 10px 0;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #102243;
}
#aside__menu {
  display: none;
  transition: 2s;
}
.aside {
  width: 320px;
  max-height: 250px;
  background-color: #ffffff;
  margin-right: 60px;
  display: block;
  filter: drop-shadow(0px 4px 4px #5c5c5c);
  border-radius: 5px;
  transition: 2s;
}
button.accordion {
  display: block;
  background-color: #fff;
  width: 320px;
  height: 50px;
  cursor: pointer;
  border: 1px solid #e2e2e2;
  filter: drop-shadow(0px 4px 4px #5c5c5c);
  text-align: left;
  outline: none;
  transition: 0.4s;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding: 10px 10px 10px 20px;
  position: relative;
}
.accordion img {
  display: inline-block;
  position: absolute;
  right: 27px;
  top: 15px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.active,
.accordion:hover {
  background-color: #dddddd;
}
.panel {
  background-color: #ffffff;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  max-height: 190px;
  display: none;
  padding: 20px 30px 0 30px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  border: 1px solid #e2e2e2;
}
.panel input[type="checkbox"] {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background: #c4c4c4;
  filter: drop-shadow(0px 4px 4px #5c5c5c);
}
.panel label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 18px;
}
.cost {
  position: relative;
  filter: drop-shadow(0px 4px 4px #5c5c5c);
  border-radius: 5px 5px 0 0;
}
.cost input {
  width: 190px;
  height: 40px;
  position: absolute;
  display: inline-block;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.from {
  outline-color: rgba(92, 92, 92, 0.4);
  color: #5c5c5c;
  right: 30px;
  top: 25px;
  filter: drop-shadow(0px 4px 4px #a3a3a3);
}
.to {
  outline-color: rgba(92, 92, 92, 0.4);
  color: #5c5c5c;
  right: 30px;
  top: 100px;
  filter: drop-shadow(0px 4px 4px #a3a3a3);
}
.cost label {
  margin: 20px 0 40px 0px;
}
.disp {
  border-radius: 0 0 5px 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  display: none;
}
