boby {
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 20px;
}

.logo {
  position: relative;
}

.slider_banner {
  position: relative;
  margin-bottom: 40px;
  align-items: center;
}

.search__field {
  
}

.search {
  position: relative;
  background-color: #ffffff;
  padding: 10px;
  border: 2px solid rgb(190, 190, 190);
  box-shadow: 5px 5px 5px 0 rgba(170, 170, 170, 0.6);
  border-radius: 2px;
  width: 710px;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  width: 100%;
  gap: 30px;
  padding: 40px 20px;
}

.filtering {
  position: relative;
  width: 500px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 18px;
  height: 50px;
}
.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: column;
}

.form__item {
  margin-bottom: 10px;
  /* padding-left: 90px; */
}

label {
  position: relative;
  padding: 50px;
  cursor: pointer;
}

.checkbox {

}

.content {
  background-color: tomato;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  gap: 20px;

}.card {
  display: flex;
  position: relative;
  height: 200px;
  width: 150px;
  border: 1px #eee solid;
  border-radius: 3px;
  box-shadow: 0px 0px 8px 0px rgba(149, 58, 58);
  cursor: pointer;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.card__title {
  position: absolute;
  height: 20px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(149, 58, 58);
  color: white;
  padding: 0;
  margin: 0;
  transition: height 0.2s ease-in-out;
}

.card:hover .card__title {
  height: 100%;
}



